.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    border-radius: 10px;
    padding: 0;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
}

.close-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    width: 100%;
}

.section-header {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.2rem;
    color: #333;
}

.file-upload-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.button-wrapper {
    text-align: end;
    margin-top: 1.5rem;
}

.thankyou-card {
    text-align: center;
    padding: 2rem;
    background: #f0f8ff;
    border-radius: 10px;
    max-width: 500px;
    margin: 2rem auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.file-upload-row {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.file-name {
    font-size: 0.9rem;
    color: #979797; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; 
}